root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.{cpp,hpp}]
indent_size = 4

[CMakeList.txt]
indent_size = 2

[*.yaml]
indent_size = 2
