# ingore binaries
bin
build
obj
lib
main*
test/bin
Makefile.conf

# ingore documentation
doc/html

docs/_build
docs/api
docs/api_doc/html
docs/api_doc/xml

# ignore hdf5 files
*.hdf
*.h5
*.hdf5
*.he5

# ignore temp files
*.swp
*~
*.orig
*.user

# ignore files from dbg
.dbg.
*.dSYM

# gdb
.gdb_history

# ignore codeblocs project files
*.cbp
*.depend
*.layout

# ignore OSX specific files
.DS_Store
buid/

#ignore eclipse project files
.cproject
.project
.settings
Debug
main.cpp
src/pandora_cpp.cpp

#ignore IDEA project files
.idea
*.iml

#ignore sublime specific files
*.sublime-*

# kdevelop
.kdev4
nix.kdev4

# cquery / ccls
compile_commands.json
.cquery_cached_index/
.ccls-cache/

#ignore VS Code specific files
.vscode/