# copy the template file Makefile.conf.tmpl to Makefile.conf
# and adjust all settings in this copy. 

CXX      = g++

# global flags for all compilation steps
FLAGS_GLOBAL = -Wall -pedantic -fPIC -std=c++0x
# flags for debugging
FLAGS_DEBUG  = -ggdb3

LIB = /usr/lib/libboost_date_time.so ./lib/hdf5/lib/libhdf5.so ./lib/hdf5/lib/libhdf5_cpp.so

INCLUDES = -I./include -I/usr/include/ -I./lib/hdf5/include

MAIN     = main
MAIN_LIB = lib/libpandora
LIB_EXT  = so
